<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>登入</title>
</head>

<body>

<h2>Login</h2>

<form action="" method="POST">
    {% csrf_token %}
  <label for="user">User:</label><br>
  <input type="text" id="user" name="user" value=""><br>

  <label for="password">Password:</label><br>
  <input type="text" id="password" name="password" value=""><br><br>

  <input type="submit" value="Submit">
</form>

<p>{{error}}</p>
<p>沒有帳號? =><a href='/myapp/register/'>註冊</a></p>

</body>
</html>
