<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>註冊</title>
</head>

<body>

<h2>Register</h2>

<form action="" method="POST">
    {% csrf_token %}
  <label for="user">User:</label><br>
  <input type="text" id="user" name="user" value=""><br>

  <label for="password">Password:</label><br>
  <input type="text" id="password" name="password" value=""><br><br>

  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name" value=""><br><br>

  <label for="email">Email:</label><br>
  <input type="text" id="email" name="email" value=""><br><br>

  <input type="submit" value="Submit">
</form>

<p>{{error}}</p>
<p>已有帳號? =><a href='/myapp/login/'>登入</a></p>

</body>
</html>
